.bg-primary-50 {
    background-color: #e3f2fd; /* Light shade of primary */
  }
  
  .bg-light-50 {
    background-color: #f8f9fa; /* Slightly lighter than light */
  }
  
  .disp_eve_bg {
    background-color: #ffffff; /* Light gray background */
    padding: 2rem; /* Adds padding inside the container */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Soft shadow */
    overflow: hidden; /* Ensures that elements inside the container don't overflow */
    transition: all 0.3s ease-in-out; /* Smooth transition for hover effects */
  }
  
  .disp_eve_bg:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15); /* Stronger shadow on hover */
  }
  

  /* Styling for the tab container */
.nav-tabs {
    border-bottom: 2px solid #dee2e6; /* Optional: Add a border at the bottom of the tab container */
  }
  
  /* Styling for individual tab links */
  .nav-tabs .nav-link {
    background-color: transparent; /* Transparent background */
    color: #6c757d !important; /* Default text color */
    font-weight: normal; /* Normal weight for unselected tabs */
    border: 1px solid transparent; /* Remove the default border */
    transition: all 0.3s ease; /* Smooth transition */
  }
  
  /* Hover effect for unselected tabs */
  .nav-tabs .nav-link:hover {
    background-color: #f1f1f1 !important; /* Light background on hover */
    color: #000 !important; /* Text color changes on hover */
    border-color: #ddd !important; /* Border color changes on hover */
  }
  
  /* Styling for the active tab */
  .nav-tabs .nav-link.active {
    background-color: #009952 !important; /* Green background for active tab */
    color: #fff !important; /* White text color */
    border-color: #009952 !important; /* Green border for active tab */
    font-weight: bold; /* Bold text for active tab */
    text-decoration: none;
  }
  
  /* Optional: Styling for the tab content */
  .tab-content {
    padding: 15px; /* Padding for the tab content */
  }

  .lightGreen{
    background-color: #f3f7f5;
  }
  .custom-but {
    align-items: center;
    background-color: #009952; /* Green color */
    border-radius: 7px; /* All corners rounded */
    box-sizing: border-box; /* Ensures padding and borders are included in width/height */
    color: rgb(255, 255, 255); /* White text */
    cursor: pointer; /* Pointer cursor on hover */
   border: #009952;
    font-family: "Roboto Condensed", Helvetica, Arial, sans-serif; /* Font family */
    font-size: 14.38px;
    line-height: 18.837px;
    padding: 8.19px 16.38px; 
    text-decoration: none; 
    -webkit-font-smoothing: antialiased; /* Smoothing for webkit browsers */
  }
  
  .custom-but:hover {
    background-color: #009952; /* Slightly darker green on hover */
    transform: scale(1.05); /* Subtle zoom on hover */
    font-weight: bolder;
  }
  

